<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=article.name%> Page</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/articles">Article Index</a></li>

        </ul>
      </nav>
    </header>

<main>
  <section>
    <h2>Article Attributes</h2>
    <ul>
      <li>Name: <%=article.name%></li>

    </ul>

  </section>
  <section>
  <form method="POST" action="/articles/<%=article.id%>?_method=DELETE">
  <button type="submit">Delete Article</button>
  </form>
</section>

<section>
  <a href="/articles/<%=article.id%>/edit">Edit</a>
</section>
</main>


  </body>
</html>
