<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create an Author</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/authors">Authors Index</a></li>
        </ul>
      </nav>
    </header>

    <form method="POST" action="/authors/<%=author.id%>?_method=PUT">
          Name: <input type="text" name="name" value="<%= author.name %>">

          <br/>

          <button type="submit">Update Author</button>
        </form>

  </body>
</html>
